<!DOCTYPE html>
<html>
	<!--head-->
	<head>
		<% include ../../dk_front_end_sdk/application-templates/ejs/entry.ejs %>
	</head>
	<!--body-->
	<body>
		<div id="react-root-container"></div>
	</body>
</html>